body {
  font-family: Arial, "メイリオ", sans-serif;
  font-size: 16px;
}

i {
  font-size: 20px;
}
i:hover {
  opacity: 0.6;
}

h1 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.mb-4 {
  margin-bottom: 1.5rem!important;
}

/* **************** */
#new_todo_form > input[type="text"] {
  padding: 8px;
  border-radius: 3px;
  margin: 0 auto 15px;
  font-size: 16px;
}

/* **************** */
th, td {
  padding: 10px;
}

.checkAll {
  cursor: pointer;
}
.delete_todo {
  text-align: center;
  cursor: pointer;
}
.done {
  text-decoration: line-through;
}
#todo_template {
  display: none;
}

/* **************** */